
body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}



   .img{

   	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/slide1.jpg")!important;
	color: white;

	background-repeat: no-repeat;
    width: 100%!important;
	height:550px;
	background-size: cover!important;
	

   }


  
   #team{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/staff.jpg")!important;
    background-size: cover!important;
	background-repeat: no-repeat;

	height:280px;
	width: 100%!important;
   }  




  /*STYLING FOR THE TABS STARTS*/


  @media only screen and (max-width: 466px) {

  	#all-tabs{
  		display: none;
  	}
  	#inc-mobile{
  		display: block!important;
  	}

  	#sm1,#sm2{
  		margin-top: 2rem;
  	}
  } 



  /*STYLINGS ENDS HERE*/

  #foot{
   	background-color: #212529 !important;
   	width: 100%;
   	color: white;
   	padding-top: 5rem;
   	font-size: 20px;
   	padding-left: 9rem;
   	padding-bottom: 3rem;

   }
   
     #fline1, #fline2,#fline3{
   	border-right: 3px solid white;
   }



.font-weight-bold {
    font-weight: 700 !important;
    color: #fe7929!important;
}
 


@media screen and (max-width: 767px) and (min-width: 150px){


  #email{
    font-size: 16px;
  }

  #foot{

 
  padding-left: 1rem;
  padding-top: 1rem;

  }

  #flist{
    display: inline-flex;
  }
  
  #fline1, #fline2,#fline3{
  border:none;
  }


}


   @media only screen and (max-width: 286px)  {
   
   #flist{
   	display: inline-flex;
   }

   }
  #twerk{
  	background-color: grey!important;
  	height: 120px;
  	width: 100%!important;
  	margin-top: 5rem;


  }

   #icon{
   	font-size: 7rem;
   }

   #icon5{
   	font-size: 5rem;
   }
 a{
 	color: white!important;
 }  

 @media only screen and (max-width: 767px)  {

  
  #foot{
  	
  	padding-top: 3rem!important;
  	padding-right: 2rem!important; 
  }


 #flist{
 	  display: inline-flex !important;
 	 padding-right: 20px;
 }
  
  #icon1{
  	padding-right: 15px;
   
   }



}

@media only screen and (max-width: 473px)  {



 #flist{
 	  display: inline-flex !important;
 	 padding-right: 20px;
 }

}



@media only screen and (max-width: 485px)  {
 
#about{
	font-size: 70px!important;
}

 .navbar{
    background-color: black!important;
  }

  #icon1{
  	padding-right: 15px;
   
   }
 

}


@media (max-width: 418px) { 
 
  #hle{
  	font-size: 30px!important;
  	padding-top: 3rem!important;
  }
  
  #email{
  	font-size: 15px;
  }

#foot{
  	
  	padding-top: 5rem!important;
  	
  }

}

@media screen and (min-width: 768px){

p{
  font-size: 0.9rem;
}

a{
  font-size: 0.9rem;
}

}

  @media screen and (max-width: 768px) and (min-width: 1115px) {
   
   
   #fline3{
   	padding-left: 4px;
   }

   }




/*
@media only screen and (max-width: 573px)  {


#hmm{
	padding-right: 3rem!important;
}



}*/



 #port-card1, #port-card2, #port-card3{
 	box-shadow: 3px 3px 3px 3px #888888;
 }