body{
		padding: 0;
		margin: 0;
		font-family: "Sans Serif";


	}


	.img{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/slide1.jpg")!important;
	color: white;

	background-repeat: no-repeat;
    width: 100%!important;
	height:550px;
	background-size: cover!important;
	
	}

	.img1{

	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/staff.jpg")!important;
	color: white;

	background-repeat: no-repeat;

	height:550px;
	width: 100%!important;
	background-size: cover!important;
	


	}


   .img2{

   	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/slide1.jpg")!important;
	color: white;

	background-repeat: no-repeat;
    width: 100%!important;
	height:550px;
	background-size: cover!important;
	

   }
   

  

   nav{
   	background-color: transparent;
   }


   	#service{
   		background-image: url("../img/fi.png");
   		background-repeat: no-repeat;
   		width: 100%!important;
   		height: 500px;
   		margin-top: 2rem;
   		background-size: cover!important;
   	}

   #font-size{

   	font-size: 70px;
   }
  
   #ice{
   	display: flex!important;
   	justify-content: space-around!important;
   }
    #foot{
   	background-color: #000000b3;
   	width: 100%;
   	color: white;
   	height: 450px;
   	padding-top: 9rem;
   	font-size: 20px;
   	padding-left: 9rem;

   }
   

   #fline1, #fline2,#fline3{
   	border-right: 3px solid white;
   }
   /*WRITE EVERY CODE INCLUDING MEDIA QUERY OF THE FOOTER HERE*/

   @media only screen and (max-width: 286px)  {
   
   #flist{
   	display: inline-flex;
   }

   }

   #icon{
   	font-size: 7rem;
   }

   #icon5{
   	font-size: 5rem;
   }

   #active{
   	display: flex!important;
   	justify-content: space-around;
   }
   
   .follow{
   	height: 10rem;
   	width: 10rem;
   	border-radius: 50%;
   	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
   }

   #post{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/slide1.jpg")!important;
    width: 100%;

	background-repeat: no-repeat;

	height:350px;
   }  


   #test-sm{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("../img/slide1.jpg")!important;
    

	background-repeat: no-repeat;

	height:350px;
	color: white!important;
   }  



  .vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}


   #indic{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  padding: 10px;
  margin-bottom: 40px;

  border-radius: 50%;
 

}

a{
  color: white;
}

#recent-sm{
  
  display: none;	
}
/*
.carousel-indicators{

position: absolute!important;
z-index: 15;
display: block;

}*/
/*
#next-icon{
  position: absolute;
  
  height: 70px!important;
  width: 70px!important;
  top: 20rem;


}*/


#my-flex {
    position: absolute;
    
    bottom: 10rem;
    left: 65rem;
    
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;

    }



#angle-down {
    position: absolute;
    top: 20rem;
    bottom: 0;
    left: 35rem;

    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    
}


hr{
 width: 14rem;
 background-color: green;
 height: 7px;

  
}

/*@media screen and (max-width: 767px) and (min-width: 150px){*/

/* @media screen and (max-width: 259px) and (min-width: 228px)  {
 
  #angle-down {
    position: absolute;
    top: 20rem;
    bottom: 0;
    left: 5rem;

    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    
  }


  #my-flex {
   display: none;
}
  

  h1{
  	font-size: 10px;
  }


 }*/

 /*MEDIA QUERY FOR HERO IMAGES STARTS HERE*/
 @media screen and (max-width: 942px) and (min-width: 865px) {

 #my-flex {
    position: absolute;
    display: inline-flex;
    bottom: 1rem!important;
    left: 7rem;
    
    z-index: 1;
    display: -ms-flexbox;
  
    
    padding-left: 0;
    margin-right: 20%;
    margin-top: 15%;
    margin-left: 0%;
    list-style: none;
    padding-right: 20px;
}



.flex-column {
    
    flex-direction: row !important;
}



#angle-down {
    position: absolute;
    top: 20rem;
    bottom: 0;
    left: 23rem;

   

    
}

#indic{
  cursor: pointer;
  height: 15px!important;
  width: 15px!important;
  left: 10px;
  margin-right: q0px;
  margin-bottom: 40px!important;

  border-radius: 50%!important;
 

}


}

@media screen and (max-width: 1224px) and (min-width: 1050px) {

 #my-flex {
    position: absolute;
    display: inline-flex;
    bottom: 4rem!important;
    left: 60rem;
    
    z-index: 1;
    display: -ms-flexbox;
  
    
    padding-left: 0;
    margin-right: 20%;
    margin-top: 15%;
    margin-left: 0%;
    list-style: none;
    padding-right: 20px;

}






#angle-down {
    position: absolute;
    top: 20rem;
    bottom: 0;
    left: 35rem;

   

    
}

#indic{
  cursor: pointer;
  height: 15px!important;
  width: 15px!important;
  left: 10px;
  margin-right: q0px;
  margin-bottom: 40px!important;

  border-radius: 50%!important;
 

}


}

@media screen and (max-width: 1049px) and (min-width: 945px) {

 #my-flex {
    position: absolute;
    display: inline-flex;
    bottom: 5rem!important;
    left: 55rem;
    
    z-index: 1;
    display: -ms-flexbox;
  
    
    padding-left: 0;
    margin-right: 20%;
    margin-top: 15%;
    margin-left: 0%;
    list-style: none;
    padding-right: 20px;

}






#angle-down {
    position: absolute;
    top: 20rem;
    bottom: 0;
    left: 25rem;

   

    
}

#indic{
  cursor: pointer;
  height: 15px!important;
  width: 15px!important;
  left: 10px;
  margin-right: q0px;
  margin-bottom: 40px!important;

  border-radius: 50%!important;
 

}


}
/*before 289  before max 878*/

@media screen and (max-width: 860px) and (min-width: 239px) {
   /*before 767*/
   .hero{
   	padding-top: 20px;
   }
  
	.img,.img1,.img2{
    
     height: 620px;

    }
  .navbar{
    background-color: black;
  }

  h1{
  	font-size: 40px!important;
  }
 

  #my-flex {
    position: absolute;
    display: inline-flex;
    bottom: 1rem!important;
    left: 5rem;
    
    z-index: 1;
    display: -ms-flexbox;
  
    
    padding-left: 0;
    margin-right: 20%;
    margin-top: 15%;
    margin-left: 0%;
    list-style: none;
    padding-right: 20px;
}

.flex-column {
    
    flex-direction: row !important;
}



#angle-down {
    position: absolute;
    top: 20rem;
    bottom: 0;
    left: 24rem;

   

    
}

#indic{
  cursor: pointer;
  height: 15px!important;
  width: 15px!important;
  left: 10px;
  margin-right: q0px;
  margin-bottom: 40px!important;

  border-radius: 50%!important;
 

}


}



/*ENDS HERE FOR HERO IMAGES*/



  /*OUR SERVICE MEDIA QUERIES*/


  @media screen and (max-width: 575px) and (min-width: 402px) {


  #service{
   	padding-left: 5rem;
   	padding-right: 5rem;
   }


  
  }

  @media screen and (max-width: 575px) and (min-width: 150px) {


  #mobile{
   	padding-top: 2rem;
   }

 

   	#port{
   		padding-top: 18rem;
   	}




  /*ENDS HERE*/

 
 

 #icon1{
 	padding-right: 15px;
 	}

 


/*box-shadow: 10px 10px 10px 10px #888888;*/







@media only screen and (max-width: 777px)  {

#recent-lg{
  	display: none!important;
}

#recent-sm{
  
  display: block;	
}



}





  /*STYLING FOR THE TABS STARTS*/


  @media only screen and (max-width: 466px) {

  	#all-tabs{
  		display: none;
  	}
  	#inc-mobile{
  		display: block!important;
  	}

  	#sm1,#sm2{
  		margin-top: 2rem;
  	}
  } 



  /*STYLINGS ENDS HER*/


/*STYLING FOR FOOTER IN LARGE AND MOBILE VIEWS*/

   #foot{
   	background-color: #000000b3;
   	width: 100%;
   	color: white;
   	height: 450px;
   	padding-top: 9rem;
   	font-size: 20px;
   	padding-left: 9rem;

   }



a{
color: white;
}

#fline1, #fline2,#fline3{
  border-right: 3px solid white;
}



@media screen and (max-width: 767px) and (min-width: 150px){


  #email{
    font-size: 16px;
  }

  #foot{

  height: 820px;
  padding-left: 1rem;
  padding-top: 1rem;

  }

  #flist{
    display: inline-flex;
  }
  
  #fline1, #fline2,#fline3{
  border:none;
  }


}


@media screen and (max-width: 338px){

#exampleInputEmail1{

	width: 70%;
}


}
@media screen and (min-width: 768px){

#email{
  font-size: 15px;
}

}




/*END OF IT*/

/*AOS ANIMATION START*/



/*END OF*/